<% include ../templates/header.html %>

<h2 style="color:#0c0c0e;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:24px;font-weight: 400;">
  Your illustration <b><%= params.illustration.name %></b>
</h2>

<p style="color:#717982;line-height:24px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;">
  has been reviewed by our moderation team and <br/>
  <% if (params.status=='rejected'){ %>

    <br/>
    <span style="color:white;font-weight:bold;padding:10px;background:#bb4444;border-radius:2px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-transform:uppercase;">
      <%= params.status %>
    </span>
    <br/><br/>

    Here is what you'll need to improve for validation:

    <% if (explanation) { %>
      <p style="color:#717982;line-height:24px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;margin-top:10px;margin-bottom:10px;background:#efeffe;padding:10px;text-align:left;">
        <b style="font-size:16px;"><%=  explanation.name %></b><br/>
        <%=  explanation.description %>
      </p>
    <% } %>

    <% if (params.message) { %>
      <p style="color:#717982;line-height:24px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;">
        <span style="font-style: italic;">"<%=  params.message %>"</span>
      </p>
    <% } %>

    <p style="color:#717982;line-height:24px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;">
      Please modify your illustration accordingly<br/>and resubmit it for review.
    </p>

  <% } else { %>

    <br/>
    <span style="color:white;font-weight:bold;padding:10px;background:#44bb44;border-radius:2px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-transform:uppercase;">
      <%= params.status %>
    </span>
    <br/><br/>

    <% if (params.message) { %>
      <p style="color:#717982;line-height:24px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;">
        <span style="font-style: italic;">"<%=  params.message %>"</span>
      </p>
    <% } %>

  <% } %>
</p>

<p style="color:#717982;line-height:24px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;">
  <b><a href="<%= view_link %>"><br/>Check the status of your reviews here</a></b>
</p>

<% include ../templates/footer.html %>
