<% include ../templates/header.html %>

<center>
<br><br>

<h2 style="color:#0c0c0e;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:24px;font-weight: 400;">Hello <%= user.firstName %>!</h2>

<p style="color:#717982;line-height:24px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;">We received a request to reset the password of this account.</p>
<p style="color:#717982;line-height:24px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;">If you want to get a new password for your account, please click or copy this link:</p>

<b><a href="<%= reset_link %>">Click here to reset your password</a></b>

<br><br>
<br><br>

<hr style="border:none;border-bottom:1px solid #ccc;width:50%">

<br>

<span style="display:block;border:none;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#717982 !important;font-size:11px;line-height:16px;border:none;text-decoration:none;margin: 10px 0 0;">
  Let's customize our visual world, one SVG at a time!<br/>
  https://beta.illustrio.com
</span>
<br><br><br>
</center>

<% include ../templates/footer.html %>
